# Copy to terraform.tfvars and fill in real values:
#   cp terraform.tfvars.example terraform.tfvars

anypoint_client_id     = "<client_id>"
anypoint_client_secret = "<client_secret>"
anypoint_base_url      = "https://anypoint.mulesoft.com"

organization_id = "<org_id>"
environment_id  = "<env_id>"
gateway_id      = "<gateway_id>"
mcp_bridge_id   = "<mcp_bridge_id>"
