# Anypoint Platform credentials
anypoint_client_id     = "your-client-id"
anypoint_client_secret = "your-client-secret"
anypoint_base_url      = "https://anypoint.mulesoft.com"

# Private Space Configuration
private_space_id = "your-private-space-id"

# Transit Gateway Configuration
transit_gateway_name     = "example-transit-gateway"
resource_share_id        = "e8e330a8-4f8c-452b-afd0-7810c41287f1"
resource_share_account   = "055970264539"

# Routing Configuration
routes = ["10.0.0.0/8", "172.16.0.0/12"] 